/bin/
/obj/
.vs/
APIClothesEcommerceShop/APIClothesEcommerceShop/obj
APIClothesEcommerceShop/APIClothesEcommerceShop/bin
EcommerceShop/ECOMMERCESHOPUXUI/EcommerceProject/.vscode
EcommerceShop/ECOMMERCESHOPUXUI/package-lock.json
EcommerceShop/ECOMMERCESHOPUXUI/EcommerceProject/package-lock.json
APIClothesEcommerceShop/APIClothesEcommerceShop/note.txt
